html {
  font-size: 17px;
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
  color: #111;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

table, th, td {
  font-size: 1.15rem;
  padding: 12px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}
